@model Founder

    @*<div class="card">
        <div class="card-header">
            <div class="row">
                <div class="card-title col">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="h5">@Model.FullName</a>
                    <time class="d-block text-black-50">2 дня назад</time>
                </div>
                <div class="dropdown col-auto float-right">
                    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@Model.Id">Удалить учредителя</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="card-text text-muted mt-2 mb-2 row">
                <p class="mb-0 col-auto"><small><strong>ИНН</strong></small> @Model.TaxpayerId</p>
                <p class="col"><strong>@Model.FounderCompanies.Count</strong> компаний</p>
            </div>
            <a href="#" class="btn-sm btn-primary">Подробнее</a>
        </div>
    </div>*@

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.FullName</h5>
        <h6 class="card-subtitle mb-2 text-muted">ИНН: @Model.TaxpayerId</h6>
        <h6 class="card-subtitle mb-2 text-muted">Добавлена: @Model.CreationDate.ToString("dd/MM/yyyy в HH:mm")</h6>
        @if (Model.UpdateDate != null)
        {
            <h6 class="card-subtitle mb-2 text-muted">Изменено: @Model.UpdateDate?.ToString("dd/MM/yyyy в HH:mm")</h6>
        }
        <p class="card-text">Компании: @Model.FounderCompanies.Count</p>
        <a asp-action="Details" asp-route-id="@Model.Id" class="card-link">Подробнее</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-light">Редактировать</a>
        <a class="float-right btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    </div>
</div>